# Ignore all log files
*.log

# Ignore all .tmp files
*.tmp

# Ignore the build directory
/build

# Ignore the .gradle directory
/.gradle

# Ignore the .idea directory
/.idea

# Ignore properties file being used for local development
/src/main/resources/application-dev.properties
